body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: rgb(248,249,251);
}

.navbar {
  background-color: #1e2227;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #f1c40f;
  font-weight: bold;
  font-size: 1.2rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 32px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover,
.nav-links a.active {
  color: #f1c40f;
}

i {
    color: #1F2527;
}

.form-label {
  font-size: 0.85rem;
  margin-bottom: 0.25rem;
  margin-left: 0.5rem;
  --bs-text-opacity: 1;
  color: var(--bs-secondary-color) !important;
}

textarea {
    height: 180px;
}