<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
  <div class="container-fluid">
    <!-- Marca alineada a la izquierda -->
    <a class="navbar-brand" href="/index.html">INOVATECH</a>

    <!-- Botón para responsive -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menú de navegación alineado a la derecha -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/cloudSolutionsView.html">Cloud Solutions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/servicesView.html">Services</a>
        </li>
            <li class="nav-item">
            <a class="nav-link" href="/teamView.html">Team</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/formView.html">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
