<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Document</title>
</head>
<body>
    <!-- Este es el div donde va el navbar de arriba -->
    <div id="navbar-container"></div>
    <h1>Aqui va la vista de contactos</h1>
    <!-- Este es el script para configurar que el navbar se pinte en cada pantalla que este presente el div mencionado -->
    <script src="../js/main.js"></script>
</body>
</html>